.slide-menu__item {
    box-sizing: border-box;
    display: block;
    border: 2px solid rgba(255, 255, 255, 0);
    border-radius: 6px;
    font-family: 'TT Lakes', sans-serif;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: #7E7E82;
    text-align: center;
    white-space: nowrap;
    padding: 0 15px;
    min-height: 40px;
    background-color: rgba(0, 0, 0, 0);
}

.slide-menu__item:active {
    border-color: #B8FFEC;
    background-color: #fff;
}