.menu__button--check-status {
    background-image: url(/images/check-status.svg);
    margin-right: 16px;
}

@media (min-width: 768px) {
    .menu__button--check-status {
        margin-right: 24px;
    }
}

@media (min-width: 1120px) {
    .menu__button--check-status {
        margin-right: 0;
    }
}