.menu__button {
    min-width: 40px;
    min-height: 40px;
    border-radius: 50%;
    border: 0px;
    background-color: #FF3E79;
    background-repeat: no-repeat;
    padding: 0;
}
.menu__button:hover {
    background-color: #ff588a;
}
.menu__button:active {
    background-color: #4b4b4b;
}