.content__read-more {
    font-family: TT Lakes;
    letter-spacing: -0.2px;
    font-size: 16px;
    line-height: 24px;
    text-align: right;
    width: 132px;
    border: 0;
    padding: 0;
    background: rgba(0, 0, 0, 0) url(/images/icon_read.svg) 8px center no-repeat;
}