.content-section {
  background-color: $light-gray-background;
  border-bottom: solid 1px $cyan-second;
  &::before {
    content: "";
    overflow: hidden;
    display: block;
  }

  padding-bottom: 24px;
  
  @media (min-width: $screen-md) {
    padding-bottom: 32px;
  }

  @media (min-width: $screen-lg) {
    padding-bottom: 50px;
  }
}