.price-info {
  font-family: 'TT Lakes';
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
  text-align: left;
  color: $gray-font;
  margin: 16px 16px 0 16px;
  max-width: 421px;
  @mixin adapt($margin, $screen-size) {
    @media (min-width: $screen-size) {
      margin: #{$margin}px 0 0 #{$margin}px;
    }
  }
  @include adapt(24, $screen-md);
  @include adapt(32, $screen-lg);
}