.side-menu {
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  scrollbar-width: none;
  scrollbar-color: transparent;
  -ms-overflow-style: none;
  overscroll-behavior: contain;

  --display-var: none;
  display: var(--display-var);
  position: fixed;
  flex-direction: column;
  width: 100%;
  min-width: 320px;
  height: 100%;
  z-index: 5;
  --transform-var: none;
  transform: var(--transform-var);
  transition-property: transform;
  transition-duration: 500ms;
  background-color: white;
  
  @media (min-width: $screen-md) {
    width: 320px;
  }
  
  @media (min-width: $screen-lg) {
    display: flex;
    position: fixed;
    height: auto;
    // left: unset;
    box-shadow: none;
    transform: none;
    overscroll-behavior: auto;
    overflow: auto;
    z-index: 4;
  }

  &__header {
    display: flex;
    align-items: center;
    background-image: linear-gradient(white 70px, transparent);
    padding: {
      top: 17px;
      bottom: 25px;
    }
  }

  &__anchor-list {
    padding: 0;
    list-style: none;
    margin: 0 {
      top: 25px;
    }

    a {
      display: block;
      box-sizing: border-box;
      font-family: 'TT Lakes';
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.2px;
      color: $gray-font;
      text-decoration: none;
      transition-duration: 300ms;
      border: solid 4px transparent;
      margin-bottom: 24px;
      padding-left: 16px;

      @media (min-width: $screen-md) {
        margin-bottom: 32px;
        padding-left: 24px;
      }

      @media (min-width: $screen-lg) {
        margin-bottom: 28px;
      }

      &:hover {
        color: $gray-active;
        border: solid 4px transparent {
          left-color: $pink-hover;
        }
      }
    }
  }

  &__current-page {
    color: $gray-active !important;
    border: solid 4px transparent {
      left-color: $cyan-main !important;
    }
    &:hover {
      cursor: default;
    }
  }

  &__footer {
    margin-top: auto;
    padding-left: 24px;
    padding-bottom: 32px;
  }

  &__buttons {
    display: flex;
  }
}
