.smoke {
  position: relative;
  &::after {
    position: absolute;
    content: '';
    top: 0px;
    right: 0px;
    height: 100%;
    width: 24px;
    background: linear-gradient(
      270deg,
      $light-gray-background 15%,
      transparent 100%
    );
    z-index: 2;

    @media (min-width: $screen-md) {
      display: none;

      &--nav {
        display: block;
      }
    }
  }

  &--nav::after {
    @media (min-width: $screen-md) {
      display: block;
    }
  }
}
