.top-article {
  display: block;
  margin-top: 24px;

  @media (min-width: $screen-md) {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
  }

  @media (min-width: $screen-lg) {
    margin-top: 0;
  }

  &__wrapper {
    overflow: hidden;
    font-size: 14px;
    line-height: 20px;
    color: $gray-font;
    margin: 0 16px;
    height: 90px;

    @media (min-width: $screen-md) {
      margin: 0 48px 0 24px;
      height: 160px;
    }

    @media (min-width: 1120px) {
      margin: 9px 36px 0 34px;
    }
  }

  &__paragraph {
    padding: 0;
    margin-top: 0;
    font-family: TT Lakes;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.1px;
    text-align: left;
    color: $gray-font;
    min-width: 288px;

    &:last-of-type {
      margin-bottom: 0;
    }

    @media (min-width: $screen-md) {
      min-width: 312px;
      line-height: 20px;
    }

    @media (min-width: $screen-lg) {
      min-width: 490px;
    }
  }

  &__picture {
    margin-top: 16px;
    width: 100%;
    
    @media (min-width: $screen-md) {
      align-self: flex-start;
      border-radius: 6px;
      margin-top: 0;
      margin-right: 24px;
      max-height: 208px;
    }
    
    @media (min-width: $screen-lg) {
      margin-top: 0;
      margin-right: 29px;
      max-height: 307px;
    }
  }
}
