$pink-main: #ff3e79;
$pink-hover: #ff769fec;
$cyan-main: #41F6D7;
$cyan-second: #D9FFF5;
$gray-font: #1B1C21;
$gray-active: #7E7E82;
$light-gray-background: #F8F8F8;

$screen-sm: 320px;
$screen-md: 768px;
$screen-lg: 1366px;