.smoke {
    position: absolute;
    right: 0;
    width: 24px;
    height: 40px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
}

@media (min-width: 1120px) {
    .smoke {
        display: none;
    }
}